<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <span class="navbar-brand">ui-router综合实例</span>
    </div>
    <ul class="nav navbar-nav">
        <li ui-sref-active-eq="active">
            <a ui-sref="uirouter">首页</a>
        </li>
        <li ui-sref-active-eq="active">
            <a ui-sref="uirouter.usermng">用户管理</a>
        </li>
        <li ui-sref-active-eq="active">
            <a ui-sref="uirouter.permission">权限管理</a>
        </li>
        <li ui-sref-active-eq="active">
            <a ui-sref="uirouter.report">报表管理</a>
        </li>
        <li ui-sref-active-eq="active">
            <a ui-sref="uirouter.settings">系统设置</a>
        </li>
    </ul>
</nav>
